            body {
                margin: 0;
                background-image: url(./images/pmaa-diapo.jpg);
                font-family: "Roboto", sans-serif, arial;
            }
            
            h1 {
                font-size: 2.5rem;
                /*2.5 x 16 = 40px*/
                margin: 15px 0 10px 0;
                /* haut,droite,bas,gauche*/
                text-align: center;
            }
            
            h2 {
                font-size: 1.8rem;
            }
            
            h3 {
                font-size: 1.3rem;
            }
            /*Faire en sorte que l'image ne fasse pas plus en largeur que son container*/
            
            img {
                max-width: 100%;
            }
            
            .col-4 {
                float: left;
                width: 33.33%;
            }
            
            .col-4 div {
                /* propriété de boites*/
                padding: 5%;
                border: 1px solid black;
                margin: 10%;
                border-radius: 25px;
                box-shadow: 5px 10px;
                background-color: aqua;
            }
            
            main {
                border: 5px solid blue;
            }
            
            main:after {
                clear: both;
                content: "";
                display: block;
            }
            
            span {
                border: 2px solid red;
                display: block;
            }